p {
    font-size: 20px;
    color: white;
    margin: 5px;
}

.list-group-item {
    display: list-item;
    background-color: rgb(255, 255, 255, 0);
    color: white;
    border-color: white;
}

.list-group {
    list-style: decimal inside;
}

.width100Pro {
    width: 100%;
}

#InverseDemo {
    width: 960px;
    height: 600px;
}

.bg-dark {
    background-color: black !important;
}

.bg-secondary {
    background-color: rgb(36, 36, 36) !important;
}

.bg-info {
    background-color: rgb(0, 40, 58) !important;
}

body {
    color: white;
    background-color: rgb(36, 36, 36) !important;
}

.btn {
    background-color: white;
    margin: 0;
    margin-left: 5px;
    border-radius: 0;
    width: 100%;
    border-style: solid;
    border-color: rgb(226, 226, 226);
    border-width: 0.01px;
}

.navbar-collapse, .navbar {
    padding: 0;
}

#navueber {
    padding-left: 20px;
}

.card {
    padding: 10px;
}

.cd {
    color: black !important;
}

.cardi {
    padding: 10px;
}

.btn {
    background-color: black;
    border-color: rgb(48, 48, 48);
}

.btn:hover {
    border-color: rgb(255, 255, 255);
}

.Linie {
    display: block;
    border-style: solid;
    border-width: 0;
    border-right-width: 1px;
    border-color: rgb(255, 255, 255, 0.151);
    border-radius: 100px;
    height: 100%;
    width: 0;
    margin-left: auto;
    margin-right: auto;
}

.element01 {
    background-color: rgb(255, 255, 255, 0.603);
    color: black !important;
    border-width: 3px;
    border-color: rgb(0, 0, 0, 0.438);
    border-style: solid;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
}

.scaleonHover:hover {
    transform: scale(1.025);
}

.element02 {
    background-color: rgb(255, 255, 255, 0.795);
    color: black;
    border-width: 3px;
    border-color: rgb(0, 0, 0, 0.699);
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0;
}

.imgcenterborder {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 5px;
}

a:hover {
    color: rgb(255, 255, 255, 0.616) !important;
}

#video01 {
    border: none;
    width: 100%;
    height: 400px;
}

#element02 {
    position: absolute;
    left: 100%;
}

.btnclear {
    background-color: rgb(0, 0, 0, 0);
    border-style: none;
    height: 100%;
}

.btnclear:hover {
    background-color: rgb(0, 0, 0, 0);
}

.btnclear:active {
    background-color: rgb(0, 0, 0, 0);
    border-style: none;
}

.white {
    background-color: white !important;
}

.footer {
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
}

.toolsColor {
    color: black !important;
    border-width: 3px;
    border-color: rgb(0, 0, 0, 0.438);
    background-color: rgb(255, 255, 255, 0.795);
    border-style: solid;
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
}

.a {
    color: rgb(0, 83, 151) !important;
}

.a:hover {
    color: rgb(9, 129, 177) !important;
}

#InverseDemo {
    width: 100%;
    height: 10%;
}

.carouslBIld {
    width: 100%;
}

#video3{
    height: 100%;
    width: 100%;
}

#drop_zone{
    background-color: red;
    height:  300px;
}